@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: rgb(211, 230, 230);
    height: 100vh;
}

.imagenes{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
    width: 90%;
    margin: 0 auto;
    justify-items: center;
    gap: 5px;
    margin-bottom: 10rem;
}

.dropimg{
    width: fit-content;
    margin: 0 auto;
}

.imagenes_item{
    object-fit: cover;
    width: 100%;
    image-rendering: crisp-edges;
    height: 100%;
    
    box-shadow: 2px 2px 10px grey;
    background: none;
    transition: all 1s ease-out;
}


.imgreader{
    padding: 5px 10px;
    outline: 2px dashed rgb(36, 36, 36);
    border-radius: 2px;
    margin: 4rem auto;
    display: block;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.imgcarga{
    width: 70%;
    height: 10px;
    position: absolute;
    top: 48%;
    left: 15%;
    border: 2px solid rgb(49, 49, 49);
    overflow: hidden;
    border-radius: 2px;
    display: none;
}

.imgcarga::after{
    display: block;
    content: " ";
    width: 100%;
    background-color: rgb(200, 255, 174);
    height: 10px;
    position: absolute;
    right: 100%;
    transform: translate(var(--translado,0));
    
}

.labeltxt{
    color: rgb(78, 96, 92);
    opacity: .2;
    font-size: 2rem;
    text-align: center;
    user-select: none;
    
}

.imgreader:hover,
.imgreader:focus,
.imgreader:active{
    outline: 2px dashed rgb(78, 96, 92);
    color: rgb(78, 96, 92);
    cursor: pointer;
    
    
}

.imagenes_item:hover{
    object-fit: contain;
}

input[type="file"] {
    display: none;
}

.imagenes :nth-child(1){
    grid-column: span 2;
    grid-row: span 2;
}

.imagenes :nth-child(5){
    grid-column: span 2;
    
}

.imagenes :nth-child(9){
    grid-column: span 2;
    grid-row: span 2;
}

.imagenes :nth-child(13){
    grid-column: span 2;
    
}

.imagenes :nth-child(19){
    grid-column: span 2;
    grid-row: span 2;
}

.imagenes :nth-child(13){
    grid-column: span 2;
    
}

.imagenes :nth-child(23){
    grid-column: span 2;
    grid-row: span 2;
}

.imagenes :nth-child(27){
    grid-column: span 2;
    
}

.imagenes :nth-child(32){
    grid-column: span 2;
    grid-row: span 2;
}

