@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    
}

body{
    background-color: rgb(255, 241, 215);
}

.header{
    width: 70%;
    background-color: wheat;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.titulo{
    font-size: 3rem;
    text-align: center;
    margin:2rem 0 1.5rem;
}

.nota_titulo{
    text-align: center;
    margin-bottom: 2rem;
}



.container_input{
    background-color: beige;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
    height: 2rem;
    border-radius: 2px;
    width:fit-content;
    font-size: 1.2rem;
    margin: 0 auto;
}

.container_boton{
    padding: .45rem;
    font-size: large;
    border: 2px solid black;
    font-weight: bold;
    border-radius: 2px;
    background-color: beige;
    width: fit-content;
    margin: 2rem auto;
    transition: all .2s ease-out;
}

.container_boton:active,
.container_boton:hover{
    cursor: pointer;
    background-color: bisque;
}

.nota_resultado{
    margin-top: 1rem;
    text-align: center;
}